:root {
	--darkblue: #3672d1;
	--blue: #4287f5;
	--selection-color: #429ef5;
}

::-moz-selection {
	color: white;
	background-color: var(--selection-color);
}

::selection {
	color: white;
	background-color: var(--selection-color);
}

html, body {
	color: black;
	font-size: 20px;
	font-family: Montserrat, sans-serif;
	margin: 0px;
}

button {
	width: 150px;
	height: 37px;
	border-radius: 5px;
	color: white;
	background-color: var(--darkblue);
	border: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

button::before {
	content: "\A";
}

button:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

button:focus {
	outline: none;
}

.big {
	font-size: 28px;
}

.medium {
	font-size: 24px;
}

.blue {
	color: var(--blue);
}

.capital {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.darkblue {
	color: var(--darkblue);
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.small {
	font-size: 15px;
}

.bottom-left {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

a {
	text-decoration: none;
	color: var(--darkblue);
}

a:hover {
	text-decoration: underline !important;
}

.italic {
	font-style: italic;
}

.horizontally-centered {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}

.giant {
	font-size: 100px;
}

input {
	border: solid gray 1px;
	width: 220px;
	height: 20px;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

input:focus {
	outline: none;
	background-color: #eeeeee;
}

input:focus:invalid {
	background-color: #ffe4e4;
}
