body {
	width: 100vw;
	height: 100vh;
}
main {
	width: 75vw;
	height: 50vh;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
body[data-dark-mode] main {
	border-top-color: #121212;
	border-bottom-color: #121212;
}
